body{
   
    margin:0;
    padding:0;
}
header{
    width:100%;
        height:auto;
     
          background-image: url("images/bg-tablet-pattern.svg");
          background-repeat:no-repeat;
            background-attachment: fixed;
  background-position: top right; 

background-size: 650px;

}

ul{
 display:flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
align-items: center;
}
li{
    margin-top:20px;
    text-decoration: none;
    list-style: none;
    
}
.navbar a{
   color: hsl(228, 39%, 23%);
   font-family: 'Be Vietnam', sans-serif;
   font-weight: 600;
   /* margin-left:5px; */
}
.mybutton{
    padding-top:9px;
     padding-bottom:9px;
padding-left:20px;
padding-right:20px;
border-radius: 20px;
background-color:hsl(12, 88%, 59%);
border:0px;
color:white;

}
.mybutton:hover{
    padding-top:9px;
     padding-bottom:9px;
padding-left:20px;
padding-right:20px;
border-radius: 20px;
background-color:hsl(12, 85%, 64%);
border:0px;
color:white;

}

.mybutton2{
    width:150px;
    height:50px;
border-radius: 20px;
background-color:hsl(12, 88%, 59%);
border:0px;
color:white;
font-size:20px;
display:flex;
justify-content: center;
align-items: center;
}
.mybutton2:hover{

background-color:hsl(12, 85%, 64%);
border:0px;
color:white;

}

.navbar-light .navbar-nav .nav-link {
  color:hsl(228, 39%, 23%);
}
.navbar-light .navbar-nav .nav-link:hover {
 color: rgba(0,0,0,.5);    

}
.partway{
    width:85%;

    display:flex;
    justify-content: center;
}
.logo{
    width:100%;
   
       display:flex;
    align-content: center;
    justify-content: center;
    align-items:center;
}
.collapse{
    width:100%;
  
}
.nav-size{
    width:100%;
   
}
.head_part2{
width:100%;


/* margin:auto; */
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;
/* flex-wrap:wrap-reverse; */
margin-top:100px;
}
.text{
    width:550px;


display:flex;
flex-direction: column;

align-items: center;
}

.photos{
   
    width:500px;
 margin-top:20px;
    height:100%;

}
.photos img{
    width:100%;
    /* height:100%; */
}
.text h1{
     color:hsl(228, 39%, 23%);
     font-family: 'Be Vietnam', sans-serif;
   font-weight: 1000;
   /* width:80%; */
  margin-top:28px;
font-size:45px;
text-align: center;
}
.text p{
    /* width:80%; */
    margin-top:40px;
    font-size:25px;
    text-align: center;

   color:rgba(0,0,0,.5);   
}
.text button{
    margin-top:20px;
        padding-top:15px;
     padding-bottom:15px;
padding-left:20px;
padding-right:20px;
border-radius: 25px;
background-color:hsl(12, 88%, 59%);
border:0px;
color:white;

}

.text button:hover{
   padding-top:15px;
     padding-bottom:15px;
padding-left:20px;
padding-right:20px;
border-radius: 25px;
background-color:hsl(12, 85%, 64%);
border:0px;
color:white;

}
.information{
    display:flex;
    flex-direction: row;
    margin:auto;
    width:80%;
     justify-content: center;
     align-items: center;
}

.manage{
    width:40%;
  
}
.manage h1{
    color:hsl(228, 39%, 23%);
     font-weight:900;
   width:100%;
  margin-top:30px;
font-size:35px;
font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  
}
.manage p{

    margin-top:40px;
    font-size:20px;
    font-weight: 500;
   display:flex;
   flex-direction: column;
   color:rgba(0,0,0,.5);  
   text-align: center;
}
main{
    margin-top:50px;
}
.about{
    margin-top:30px;
  
    width:50%; 
    display:flex;
   flex-direction: column;
}
.about_1{
    display:flex;
    flex-direction:row;
     justify-content: center;
}
.about_1 h4{
    display:flex;
    justify-content: center;
    align-items: center;
   width:50px;
   height:30px;
   background-color: hsl(12, 85%, 64%);
    
border-radius:30px;
color:white;
}
.text_about{
    margin-left:20px;
    width:70%;
}
.text_about h5{
 color:hsl(228, 39%, 23%);
 font-weight: 1000;
 font-size:25px;
font-family: 'Be Vietnam', sans-serif;
}
.text_about p{
  
    font-weight: 400;
    font-size:19px;
   color:rgba(0,0,0,.5); 
   
}







.about_3{
    display:flex;
    flex-direction:row;
     justify-content: center;
}

.about_3 h4{
    display:flex;
    justify-content: center;
    align-items: center;
   width:50px;
   height:30px;
   background-color: hsl(12, 85%, 64%);

border-radius:30px;
color:white;
}
.text_about_3{
    margin-left:20px;
    width:70%;
}










.profile{
    margin-top: 40px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.info-cont{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.info-cont img{
    width:80px;
    /* height:60px; */
}
.info-cont h3{
    font-size: 20px;
    color:hsl(228, 39%, 23%);
    font-weight: 700;
}
.info-cont p{
    width:450px;
    text-align: center;
    color: hsl(227, 12%, 61%)
}
.prof-conts{
    width:90%;
    margin-top: 40px;
    gap:30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.button-margin{
    margin-top:40px;
}


.bottom-part{
    width:100%;
    display:flex;
    flex-direction: row;
    padding-top:40px;
    padding-bottom:40px;
    align-items: center;
    justify-content: space-around;
    background-color:hsl(12, 88%, 59%) ;
    position: relative;
   
}
.bottom-part::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg-tablet-pattern.svg');
    opacity: 0.3; 
    z-index: 1;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position:30% 590px;
    background-size: 500px;
  }
.bottom-part h1{
    color:white;
    font-weight: 800;
    width:40%;
}

.bottom-part button{
    width:140px;
    height:45px;
    background-color: white;
    border:1px hsl(12, 88%, 59%);
    color: hsl(12, 88%, 59%);
    border-radius: 23px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1;
}
.bottom-part button:hover{
    background-color: hsl(12, 88%, 59%);
    color:white;
    border:1px solid white;
}



.footer{
    
    background-color: hsl(233, 12%, 13%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding:30px;
    box-sizing: border-box;
}
.f-all-cont{
    width:95%;
    display:flex;
 
    justify-content: space-between;
    align-items: center;
}
.social-media{
    box-sizing: border-box;
    width:30%;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.social-media img{
    color:white;
}
.list-inline{
    margin-top:30px;
    gap:8px;
}

.footer-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);;
   /* margin-right:140px; */
    gap:5px;
    column-gap: 100px;
}

.footer-info a{
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
.footer-info a:hover{

    color:hsl(12, 85%, 64%);
}

  


.footer-inputs input{
    padding:20px;
    width:200px;
    height:35px;
    border-radius: 18px;
    border:1px hsl(12, 85%, 64%);
}
.footer-inputs button{
    outline: none;
    width:55px;
    height:40px;
    border:0px;
    border-radius: 40px;
    color:white;
    background-color:hsl(12, 88%, 59%);
}
.footer-inputs button:hover{
    background-color:hsl(12, 85%, 64%);
}









@media only screen and (max-width: 1200px) {
.information{
    width:100%;
}


.dissapear{
    display:none;
}
.manage p{
    width:100%;
}
.text_about p{
    width:100%;
}

.text{
    width:400px;


display:flex;
flex-direction: column;

align-items: center;
}

.photos{
   
    width:470px;
 margin-top:20px;
    height:100%;


}
}




 @media only screen and (max-width: 1000px) {
    .head_part2{
        flex-direction: column;
    }
    .text {
        width:80%;
    }
.information{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    width:80%;
}
.manage{
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-all-cont {
    width: 95%;
    display: flex;
   flex-direction: column-reverse;
    justify-content: center;
    gap:15px;
    align-items: center;
}

.footer-inputs input {
    padding: 20px;
    width: 400px;
    height: 35px;
    border-radius: 18px;
    border: 1px hsl(12, 85%, 64%);
}
.footer-info{
    margin-top:30px;
}
.social-media{
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* height:50px; */
}
.social-media img {
    color: white;
    margin-top:20px;
}
.list-inline {
    margin-top: 0px;

}
 }

 @media only screen and (max-width: 700px) {

.about{
    width:90%;
    
}
.manage{
    width:80%;
}
.bottom-part{
    flex-direction: column;
}
.bottom-part h1 {
    color: white;
    font-weight: 800;
    width: 80%;
    text-align: center;
}
.bottom-part button{
    margin-top:15px;
}
.footer-inputs input {
    padding: 20px;
    width: 80%;
    height: 35px;
    border-radius: 18px;
    border: 1px hsl(12, 85%, 64%);
}
.footer-inputs{
    width:80%;
}
 }


 @media only screen and (max-width: 600px) {
.text h1{
    font-size:35px;
}
.text p{
font-size:27px;
}
.photos{
    width:90%;
   
}
.about_1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.text_about{
    width:100%;
    margin-left:0px;
}

     }


     @media only screen and (max-width: 500px) {
        .partway{
            width:120%;
            margin-left:-40px;
    }
        .manage{
            width:93%;
        }
        .text_about{
            width:99%;
        }
        .info-cont p{
            width:90%;
        }
        .footer-inputs input {
            padding: 20px;
            width: 70%;
            height: 35px;
            border-radius: 18px;
            border: 1px hsl(12, 85%, 64%);
        }
        .footer-inputs{
            width:90%;
        }
      

        .bottom-part::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(images/bg-tablet-pattern.svg);
            opacity: 0.3;
            z-index: 1;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: left bottom;
            background-size: 400px;
        }

             }     

@media only screen and (max-width: 350px) {   
    .about{
        width:95%;
    }
        
            .text h1{
                font-size: 25px;
                
            }
            .text p{
                font-size:20px;
             
            }
            .text_about h5{
                font-size: 23px;
                text-align: center;
            }
            .text_about p{
                font-size: 17px;
                width:95%;
                text-align: center;
            }
            .footer-inputs input {
                padding: 20px;
                width: 70%;
                height: 35px;
                border-radius: 18px;
                border: 1px hsl(12, 85%, 64%);
            }
            .footer-inputs{
                width:98%;
            }
} 
